# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Vorpal Example/v16/.suo
.vs/Vorpal Example/v16/Browse.VC.db
.vs/Vorpal Example/v16/ipch/AutoPCH/b56fb7a25f691cde/VORPAL.ipch
VorpalLibrary-Public/x64/Release/vc142.pdb
VorpalLibrary-Public/x64/Release/VorpalLi.ccae480f.tlog/CL.command.1.tlog
VorpalLibrary-Public/x64/Release/VorpalLi.ccae480f.tlog/CL.write.1.tlog
VorpalLibrary-Public/x64/Release/VorpalLibrary-Public.log
VorpalLibrary-Public/x64/Release/VorpalLi.ccae480f.tlog/CL.read.1.tlog
VorpalLibrary-Public/x64/Release/vc142.pdb
VorpalLibrary-Public/x64/Release/VorpalLi.ccae480f.tlog/CL.read.1.tlog
VorpalLibrary-Public/x64/Release/VorpalLi.ccae480f.tlog/CL.write.1.tlog
VorpalLibrary-Public/x64/Release/VorpalLi.ccae480f.tlog/link.command.1.tlog
VorpalLibrary-Public/x64/Release/VorpalLi.ccae480f.tlog/link.read.1.tlog
VorpalLibrary-Public/x64/Release/VorpalLi.ccae480f.tlog/link.write.1.tlog
VorpalLibrary-Public/x64/Release/VorpalLi.ccae480f.tlog/unsuccessfulbuild
VorpalLibrary-Public/x64/Release/VorpalLibrary-Public.exe.recipe
VorpalLibrary-Public/x64/Release/VorpalLibrary-Public.iobj
VorpalLibrary-Public/x64/Release/VorpalLibrary-Public.ipdb
VorpalLibrary-Public/x64/Release/VorpalLibrary-Public.log
x64/Release/VorpalLibrary-Public.pdb
Dependencies/t1ha/lib/libshit.dlp
.vs/Vorpal Example/v16/ipch/AutoPCH/2da34d3e57ecd281/VORPALLIBRARY-PUBLIC.ipch
